.thank-card{
    width: 30%;
    margin:1% auto 10% !important;
}
@media (max-width: 768px){
    .thank-card{
        width: 80%;
        margin:1% auto 10%;
    }
    .button-size {
        display: flex;
        padding: 0 8px 0 56px;
        max-width: 300px;
        margin: 0 auto;
    }
}