/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
font-family: Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
/* font-family: 'Dancing Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*font-family: 'PT Sans Narrow', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
/*font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Poppins', sans-serif; */
::-webkit-input-placeholder,
.login-field::-webkit-input-placeholder {
  /* Edge */
  color: rgba(1, 1, 1, 0.3);
}
.btn.focus,
.btn:focus {
  box-shadow: unset;
}
body {
  font-family: "Poppins", sans-serif;
}
:-ms-input-placeholder,
.login-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(1, 1, 1, 0.3);
}

::placeholder,
.login-field::placeholder {
  color: rgba(1, 1, 1, 0.3);
}

select {
  border: 1px solid #cecece;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

a {
  display: inline-block;
  color: inherit;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}
.complete-column .checkbox-custom[type="checkbox"]:checked:before {
  border: none;
}
button:focus {
  outline: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h3 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h5 {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h6 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

table {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
.main-footer {
  background-color: #e5e5e5;
  padding: 20px 0;
}
.footer-title h4 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  font-style: normal;
  color: #58b84c;
  border-bottom: 1px solid #58b84c;
  padding-bottom: 5px;
}
.footer-lists ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.footer-lists ul li {
  padding: 5px 0;
}
.footer-lists ul li a img {
  max-width: 40px;
}
.footer-lists.pages-lists ul li a img {
  max-width: 10px;
}
.footer-lists.pages-lists ul li a img {
  max-width: 10px;
}

.footer-lists.pages-lists ul li a {
  border-bottom: 1px solid #35383c;
  padding: 10px 0;
}
.brand-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
img {
  max-width: 100%;
}
.brand-column img {
  margin: 0 auto;
  display: block;
}
.brand-section {
  padding: 15px 0;
  background-color: #fff;
}
.main-title {
  margin-bottom: 15px;
  width: 100%;
}
.cart-contents a {
  color: #000;
  font-weight: 500;
}
.cart-contents-mobile a {
  color: #000;
  font-weight: 500;
}
.border-n {
  border: none;
}
.cursor-default {
  cursor: context-menu;
}
.p-10 {
  padding: 10px;
}
.main-title h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}
.main-title-extra h3{
  display: none;
}
.special-offer {
  background-color: #fff;
}
.banner-rows {
  display: flex;
}

.banner-column {
  width: 50%;
}
.banner-column img {
  width: 100%;
}
.banner-column2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.offer-column img {
  margin: 0 auto;
  display: block;
}
.mainbanner {
  overflow: hidden;
}

.banner-column2 .carousel-root {
  height: 250px;
  overflow: hidden;
}
.bannerImages {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-mani-list {
  display: flex;
  align-items: center;
}

.main-mani-list > li {
  padding: 0;
  border: 1px solid transparent;
  text-align: center;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-mani-list > li > a {
  padding: 10px;
}
.deals a {
  color: #20408a;
  font-weight: 600;
}
.subdropdown-manu {
  display: block;
  position: absolute;
  width: 97.7%;
  z-index: 99;
  background-color: #fff;
  left: 0;
  right: 0;
  border: 1px solid #cecece;
  margin: 0 auto;
  padding: 20px;
  top: 205px;
}

.product-row .product-images {
  margin: 0 25px;
}

.category-page .product-images {
  margin: 0;
}
.shipping-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.step-repeater {
  margin-bottom: 20px;
}
.shipping-headings h4 {
  margin: 0;
}
.product-content .cartbtns .btn-off {
  padding: 0;
  border: none;
  margin-left: 10px;
}
.product-content .cartbtns .btn-off {
  padding: 0;
  border: none;
  margin-left: 10px;
}
.login-form-row .ant-col.ant-col-8.ant-form-item-label {
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
}
.login-form-row .ant-col.ant-col-16.ant-form-item-control {
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0;
}
.login-form-row .ant-btn-primary {
  background-color: #01b74a;
  border: none;
  padding: 0 50px;
  width: 100%;
}
.product-images.inner-product-images {
  min-height: 300px;
  position: relative;
  margin: 0;
}

.product-images.inner-product-images .cartbtns {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.login-column form {
  padding: 0 20px;
}
.subdropdown-row {
  display: flex;
}

.subdropdown-column {
  width: calc(100% / 4);
}

.subdropdown-title h5 {
  color: #012169;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

.subdropdown-column h5 {
  color: #012169;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.subdropdown-column ul li a {
  padding: 5px 0;
}

.subdropdown-column ul li a:hover {
  color: #012169;
}

.subdropdown-column {
  margin-bottom: 20px;
}
.single-slider {
  border: 1px solid #cecece;
}
.review-total {
  color: #000;
}
.red {
  color: red;
}
.ant-slider {
  margin-top: 50px !important;
}
/* .ant-tooltip-placement-top{
    top: 428px !important;
}
@media only screen and (max-width: 1224px) {
    .ant-tooltip-placement-top{
        top: 527px !important;
    }
  } */
.margin-conflict .product-images {
  margin: 0px;
}
.pb-15 {
  padding-bottom: 15px;
}

.main-mani-list > li:hover {
  border-top: none;
  border-bottom: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.main-mani-list li:hover > a {
  color: #012169;
}
.subdropdown-manu {
  display: none;
}
.main-mani-list > li:hover .subdropdown-manu {
  display: block;
}
.manu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
.main-manu-bar {
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}
.topheader {
  padding: 8px 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.manu-items li {
  padding: 10px;
}
.manu-items li:last-child {
  padding-right: 0;
}
.inputfield:focus {
  outline: none;
}
.search-form input[type="text"] {
  width: 100%;
  padding: 8px 40px 8px 10px;
  border: 1px solid #cecece;
  border-radius: 35px;
}
.manu-items li:hover {
  cursor: pointer;
}
.manu-items li a {
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
}
.manu-items li a span {
  margin-left: 1px;
}
.manu-items li a svg {
  width: 20px;
  height: 20px;
}
.item-counter {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  background-color: #58b84c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  right: -14px;
  font-size: 10px;
}
@media(max-width: 600px){
  .item-counter {
    top: 69px;
    right: 22px;
  }
}
.banner-image img{
  height: 100%;
}
.banner-rows .thumbs-wrapper.axis-vertical {
  display: none;
}
.btn-off {
  border: 1px solid #58b84c;
  border-radius: 5px;
  padding: 3px 25px;
  color: #58b84c;
}
.productbrands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.brands-title h4 {
  margin: 0;
  font-size: 15px;
}

.product-titles h3 {
  margin-bottom: 20px;
}

.product-price {
  margin-bottom: 20px;
}

.availabliity {
  margin-bottom: 20px;
}
.availabliity h6 {
  margin: 0;
  font-size: 15px;
}
.prodcut-flavour.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-column {
  width: 200px;
}
.clientreviews {
  display: flex;
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.reviews-column {
  width: 200px;
}
.reviews-column1 {
  width: calc(100% - 400px);
}
.review-date {
  text-align: right;
}
.review-date h6 {
  font-weight: 700;
}
.reviews-column .product-ratings {
  margin-bottom: 20px;
}
.reviews-column .product-ratings .fill-star img {
  max-width: 20px;
}
.reviews-column h4 {
  font-weight: 700;
}
.reviews-column1 {
  width: calc(100% - 400px);
}
.review-date {
  text-align: right;
}
.prodcut-flavour.product-cart .quantity-selector.cart {
  background-color: #d8d8d8;
  width: auto;
  margin: 0 10px 0 0;
  border: 1px solid #cecece;
}
.prodcut-flavour.product-cart .quantity-selector.cart .qtyminus {
  padding: 4px 20px;
  height: 35px;
}
.prodcut-flavour.product-cart .quantity-selector.cart .qtyplus {
  padding: 4px 20px;
  height: 35px;
}
.prodcut-flavour.product-cart .quantity-selector.cart input {
  height: 35px;
}
.prodcut-flavour .product-carts {
  margin: 0;
}
.product-content .price-strike p {
  margin: 0;
  color: #58b84c;
}
.banner-image img {
  height: 100%;
}
.main-manu {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}
/* .humburger-manu{
    display: flex;
    align-items: center;
    margin: 0;
} */

.main-manu li a {
  padding: 9px 25px 9px 25px;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  color: #000;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.humburger-manu li a {
  padding: 10px 25px;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  color: #000;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  align-items: center;
  font-size: 12px;
}
.checkout-steps {
  display: flex;
  justify-content: space-between;
}
.checkout-columns1 {
  width: 70%;
}
.checkout-columns2 {
  width: 29%;
}
.btn-off:hover {
  color: inherit;
  /* background-color: #58b84c; */
}
.subdropdown {
  display: none;
}

.second-manu {
  display: none;
}

.main-manu li a:hover .second-manu {
  /* display: block; */
  position: absolute;
}
/* .humburger-manu li a:hover .second-manu {
    position: absolute;
} */

.card-titles {
  padding: 20px;
  background-color: #ececec;
  color: #20408a;
}

.card-titles h4 {
  margin: 0;
}

.checkout-card {
  border: 1px solid #cecece;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #cecece;
}

.card-content h6 {
  margin: 0;
}

.card-content p {
  margin: 0;
}

.cardTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.cardTotal h4 {
  margin: 0;
  font-size: 18px;
}

.cardTotal h3 {
  margin: 0;
  font-size: 18px;
}
.main-manu li a {
  position: relative;
}
.humburger-manu li a {
  position: relative;
}
.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: column;
}
.checkout-btn a {
  width: 100%;
  margin-bottom: 10px;
}
.checkout-btn .btn {
  background-color: #01b74a;
  padding: 5px 20px;
  min-width: 120px;
  justify-content: center;
}

.checkout-btn .btn:hover {
  color: #fff;
}
.main-manu li a:hover > .subdropdown {
  display: block;
  position: absolute;
  left: 0px;
  z-index: 99;
  background-color: #fff;
  text-align: left;
  width: 100%;
  top: 38px;
}
.humburger-manu li a:hover > .subdropdown {
  display: list-item !important;
  list-style-type: none;
  /* position: absolute; */
  /* left: 0px; */
  /* z-index: 99; */
  background-color: #fff;
  /* text-align: left; */
  width: 100%;
  /* top: 38px; */
}

.main-manu li a:hover .subdropdown li a {
  border-bottom: 1px solid #fff;
  padding: 8px;
  display: block;
  font-size: 12px;
  color: #000;
}
.humburger-manu li a:hover .subdropdown li a {
  border-bottom: 1px solid #fff;
  padding: 8px;
  display: block;
  font-size: 12px;
  color: #000;
}

.main-manu li a:hover > .subdropdown li a:hover .second-manu {
  display: block;
  position: absolute;
  left: 100%;
  background-color: #58b84c;
  width: 130px;
  top: 0;
}
.humburger-manu li a:hover > .subdropdown li a:hover .second-manu {
  display: list-item;
  list-style-type: none;
  /* position: absolute; */
  /* left: 100%; */
  background-color: #58b84c;
  width: 130px;
  /* top: 0; */
}

.main-manu li a:hover,
.main-manu li a.active {
  border-top: 2px solid #000000;
}
.humburger-manu li a:hover,
.main-manu li a.active {
  font-weight: bold;
}

.login-form-row {
  display: flex;
  align-items: center;
}
.login-column1 h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 25px;
}
.login-column1 ul li {
  color: #fff;
  padding: 5px 0;
}
.login-column {
  width: 50%;
}
.login-column1 {
  padding: 20px;
  height: 480px;
}
.medium-modal .modal-dialog {
  max-width: 750px;
}
.login-column1 {
  background-image: url(https://img4.hkrtcdn.com/react/static/media/signupFlow/login-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-form button {
  position: absolute;
  padding: 0 7px;
  border: none;
  background-color: #01b74a;
  right: 0;
  top: 0;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form button img {
  max-width: 60%;
}
.category-image {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  overflow: hidden;
}

.category-parent {
  overflow: hidden;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #000;
}

.footer-list li a {
  padding: 0 11px;
  font-size: 13px;
  color: #000;
}

footer {
  border-top: 1px solid #cecece;
  padding: 20px 0;
}
.category-parent {
  overflow: hidden;
}
.category-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* z-index: 9; */
  position: relative;
  text-align: center;
  background: #fff;
}
.offer-column {
  height: 500px;
  overflow: hidden;
}
.variation-name h4 {
  font-size: 18px;
  margin: 3px 0;
  font-weight: 700;
}

.variation-name p {
  margin-bottom: 0;
}
.offer-column {
  object-fit: cover;
  object-position: center;
}
.category-colum {
  overflow: hidden;
  border: 1px solid #cecece;
  border-radius: 15px;
}

.popular-cateogry {
  padding: 15px 0;
  background-color: #f9f9f9;
}
.category-name h3 {
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: #000;
  margin: 20px 0;
}
.news-tags {
  background: #f1f1f1;
  border: 1px solid #c1c1c1;
  padding: 15px;
}

.news-tags h5 {
  font-weight: 700;
  margin-bottom: 20px;
}

.news-tags ul li {
  padding: 5px;
  list-style: inside;
}
.product-images {
  margin: 0px 25px;
  border-radius: 5px;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 5px 0px #f0f0f0;
  padding: 6px;
  border: 1px solid #eee;
  min-height: 255px;
}

.product-row {
  padding: 15px 0;
  background-color: #fff;
}

.product-content {
  padding: 0;
  text-align: left;
  background-color: #fff;
}
.product-content .cart-contents {
  width: 100%;
  margin-bottom: 0px;
}

.product-content .cart-contents-mobile {
  width: 100%;
  margin-bottom: 0px;
}

.fontSizeOfProductName {
  font-size: 0.8rem;
}
.product-content h5 {
  font-size: 18px;
  font-weight: 700;
}
.cartbtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartbtns a {
  color: #20408a;
}
.product-content p {
  margin: 0;
  color: #20408a;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.btn-blue {
  background-color: #20408a;
  color: #fff;
  padding: 7px 30px;
  border-radius: 50px;
}
.modal-close {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}

.genreal-field {
  width: 100%;
  background-color: transparent;
  border: 1px solid #cecece;
  padding: 7px;
  border-radius: 5px;
}

.login-field {
  margin-bottom: 20px;
}

.login-form {
  width: 80%;
  margin: 20px auto;
}

.login-blue {
  background-color: #58b84c;
  color: #fff;
  border: none;
  padding: 7px 25px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.login-field {
  text-align: center;
}
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-titles {
  margin-top: 20px;
}
.forgot-password a span {
  color: #58b84c;
  font-weight: 600;
}
.inventory_header {
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.cart-content table {
  border: 1px solid #cecece;
}

.cart-content thead th {
  padding: 10px;
  color: rgba(40, 47, 54, 0.8);
}
.cart-content table tr td:first-child {
  width: 60%;
  padding: 20px;
}
.cart_actions span {
  color: red;
}
.cart-content table tr td {
  padding: 15px;
}
.single_cart_item {
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.cart_item_image {
  height: 86px;
  width: 86px;
  border-radius: 8px;
  background: center/cover no-repeat;
  margin-right: 20px;
}
.cart_item_text span {
  color: #282f36;
  font-size: 16px;
}
.quantity-selector.cart {
  width: 100px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.quantity-selector.cart input {
  width: 32px;
  border: none;
  text-align: center;
  padding: 0;
}
.cart.quantity-selector > span {
  height: 24px;
  width: 24px;
  background: #d8d8d8;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .quantity-selector.cart .input-number-increment {
    background: #029C85;
} */
.cart.quantity-selector > span:hover {
  background-color: #029c85;
}
.bg-color > span:hover {
  background-color: #d8d8d8 !important;
}
.black {
  color: black !important;
}
.price_cart,
.quantity {
  color: #282f36;
  font-size: 17px;
}
.invetntory_wrap {
  border-top: 1px solid #cecece;
}
.cart-content table {
  border: 1px solid #cecece;
}

.cart-content table th,
.cart-content table td {
  border: 1px solid #cecece;
}
.tracting-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tracting-bar img {
  width: 100%;
}
.main-logo {
  max-width: 100%;
  position: relative;
  left: 23px;
}
.manu-items.card-manus {
  margin: 0;
}
.manu-items.card-manus li {
  padding: 0;
}
.topheader .ant-select {
  width: 100% !important;
}
.topheader .row {
  align-items: center;
}
.product-images a {
  overflow: hidden;
}
.product-images a img {
  transition: all 0.2s linear;
  overflow: hidden;
  position: relative;
}
.product-images a:hover > img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.tracking-column1 ul {
  display: flex;
  align-items: center;
}

.tracking-column p {
  margin: 0;
  color: #012169;
}

.tracking-column1 ul li {
  padding: 0 15px;
  display: block;
  color: #012169;
}

.tracking-column1 ul li:last-child {
  padding-right: 0;
}
.marquree-container {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0;
}
.marquree-section {
  background-color: #1d3683;
}
.empty-card img {
  max-width: 170px;
}
.empty-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.empty-card img {
  max-width: 170px;
}

.search-dropdown {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 5;
  border-radius: 5px;
}
form.search-form:focus .search-dropdown,
form.search-form:focus-visible .search-dropdown,
form.search-form:focus-visible .search-dropdown,
form.search-form:focus-visible .search-dropdown {
  display: block;
}
.search-dropdown ul li a {
  padding: 10px;
  border-bottom: 1px solid #cecece;
  display: block;
}

.mainbanner .container-fluid {
  padding: 0;
}
.mainbanner .row {
  margin: 0;
}
.mainbanner .col-md-12 {
  padding: 0;
}
.search-dropdown ul li:last-child a {
  border-bottom: none;
}
.cart-contents a span {
  word-break: break-word;
}
.cart-contents-mobile a span {
  margin-right: 0px;
  word-break: break-all;
}
.cart-dropdown {
  position: fixed;
  right: -100%;
  background-color: #fff;
  width: 0px;
  top: 0px;
  height: 100vh;
  padding: 20px;
  box-shadow: 1px 3px 8px 7px rgb(0 0 0 / 9%);
  transition: 0.8s ease-in-out;
  z-index: 9;
  /* display: none; */
}
.empty-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.emailheader {
  background-color: #000;
}
.email-list {
  display: flex;
  margin: 0;
  padding-left: 23px;
  height: 100%;
  align-items: center;
  /* justify-content: flex-end; */
}
.email-list li {
  position: relative;
  padding-right: 18px;
}
.email-list li:before {
  position: absolute;
  content: " ";
  border-right: 1px solid #cecece;
  height: 100%;
  right: 10px;
}
.email-list li:last-child:before {
  display: none;
}
.empty-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.emailheader {
  background-color: #fff;
}
.emailheader a:hover {
  color: #000;
}
.emailheader a {
  font-size: 14px;
  color: #000;
}
.searchImg {
  border-radius: 50%;
  background-color: green;
  height: 50px;
  margin-right: 5%;
}

.email-list {
  display: flex;
}
/* .email-list li {
    padding-right: 10px;
} */
.social-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.social-icons-mobile {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 1em;
}
.social-icons li {
  padding-left: 19px;
}
.social-icons-mobile li {
  padding-left: 19px;
}
.social-icons li a img {
  max-width: 20px;
}
.social-icons-mobile li a img {
  max-width: 20px;
}
/* .email-list li {
    padding-right: 10px;
} */
.contactNo {
  font-weight: bold;
}
.topheader .col-md-5 {
  position: unset;
}
.cart-open .cart-dropdown {
  right: 0;
  width: 400px;
}
.cart-open {
  overflow: hidden;
  position: relative;
}
.cart-open:before {
  content: " ";
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
}
.cart-close-icons {
  position: absolute;
  right: 15px;
  top: 15px;
}
.cart-header {
  text-align: center;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-repeater {
  display: flex;
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
  margin-bottom: 0px;
}

.cart-row {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 0px;
}

.cart-contents {
  width: calc(100% - 70px);
}
.cart-contents-mobile {
  width: calc(100% - 70px);
}

.cart-footr h5 {
  /* text-align: right; */
  color: #000;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-footr {
  padding: 0 10px;

}
.ant-drawer-body {
  padding: 0 !important;
}
.scrollbar .ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
}
.ant-drawer-content {
  overflow: unset !important;
}
.checkout-btn {
  text-align: center;
}

.btn-checkouts {
  color: #fff;
  background-color: #20408a;
  padding: 9px 30px;
}
.ant-drawer-title h5 {
  margin: 0;
}
.ant-drawer-header {
  position: relative;
  padding: 10px 24px !important;
}
.ant-drawer-close {
  padding: 0 !important;
  position: absolute !important;
  right: 20px !important;
  top: 6px !important;
}
.ant-drawer-title {
  text-align: center !important;
}
.cart-body {
  height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;
}
.cart-body-new {
  height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-body {
  padding: 20px;
}
span.trashIcon {
  margin-right: 0 !important;
}
.product-filter-column {
  background-color: #fff;
  /* padding: 15px;/ */
  border: 1px solid #cecece;
  margin-bottom: 10px;
}
.subdropdown-column ul li {
  text-align: left;
}

.subdropdown-title h5 {
  text-align: left !important;
}

.subdropdown-column h5 {
  text-align: left !important;
}
.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* padding: 15px; */
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.filter-search input[type="text"] {
  width: 100%;
  padding: 6px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.filter-search {
  margin-bottom: 20px;
}

.filter-checkbox {
  margin-bottom: 10px;
  font-size: 14px;
}
.filter-checkbox input[type="checkbox"] {
  margin-right: 10px;
}
.fill-star img {
  max-width: 20px;
}

.fill-star {
  margin-top: 0px;
}
.offer-row .banner-image {
  height: 460px;
}
.fill-star img {
  max-width: 12px;
}

.product-content a {
  display: block;
}
.offer-row {
  max-width: 750px;
  margin: 0 auto;
}
.brand-images {
  display: flex;
  flex-wrap: wrap;
}

.brands-column {
  width: calc(100% / 6);
  margin-bottom: 20px;
}
.product-images .desktop-images,
.product-images .hover-images {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
.product-images .hover-images {
  display: none;
}
.product-images {
  background-color: #fff;
}
.shopping-detail-coulmn {
  position: sticky;
  top: 0;
}
.product-images:hover .desktop-images {
  display: none;
}

.product-images:hover img.hover-images {
  display: block;
}

.shopping-cart-title {
  margin: 20px 0;
}

.shopping-cart-title h5 {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

.shopping-cart-body {
  border: 1px solid #cecece;
  padding: 15px;
}

.promocode {
  display: flex;
  position: relative;
  margin: 10px 0;
}

.promocode input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #cecece;
}

.btn-apply {
  position: absolute;
  right: 5px;
  top: 3px;
  padding: 0;
  color: #58b84c;
  font-weight: 700;
}

.order-detail {
  border-bottom: 1px solid #20408a;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.order-detail p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-row p {
  margin: 0;
}

.order-total {
  display: flex;
  background-color: #f9f9f9;
  margin: 20px 0;
  padding: 10px 0;
  justify-content: space-between;
}

.order-total p {
  margin: 0;
  line-height: c;
}

.order-total h5 {
  margin: 0;
  line-height: initial;
}
.checkout {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-repeater .quantity-selector {
  margin-top: 10px;
}
.car-deleteIcons {
  position: absolute;
  right: 0;
  top: 5px;
  right: 0;
  cursor: pointer;
}

.cart-contents {
  position: relative;
}
.cart-contents-mobile {
  position: relative;
}
.btn-checkout {
  background-color: #58b84c;
  padding: 7px 24px;
  color: #fff;
}
.product-right-column {
  background-color: #fff;
  height: 100%;
  padding: 20px;
}

.product-price h4 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.product-price h6 {
  color: #cb3a49;
  margin: 10px 0;
}

.prodcut-flavour > label {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.flavor-column {
  margin: 5px;
}

.flavor-column input[type="radio"] {
  display: none;
}

.flavor-column label {
  border: 1px solid #cecece;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.flavor-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px;
}

.flavor-column input[type="radio"]:checked ~ label {
  background-color: #20408a;
  color: #fff;
}
.prodcut-flavour .quantity-selector.cart {
  margin-top: 10px;
}
.product-carts {
  margin-top: 15px;
}
.producat-sliders {
  background-color: #fff;
  height: 100%;
}
.product-titles {
  margin-bottom: 15px;
}
.carousel-status {
  display: none;
}
.marquree-container .thumbs-wrapper {
  display: none;
}
.marquree-container .carousel-status {
  display: none;
}
.marquree-container .carousel .slide {
  background-color: transparent;
}
.marquree-container .control-dots {
  display: none;
}
.marquree-container h1 {
  margin: 0;
  font-size: 23px;
  padding: 8px 0;
}
.steps-head {
  background-color: #58b84c;
  padding: 9px;
}
.steps-head h3 {
  color: #fff;
  display: flex;
  align-items: center;
}
.steps-head h3 span {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  color: #20408a;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 16px;
}
.steps-rows {
  display: flex;
  justify-content: space-between;
}
.steps-columns {
  width: 100%;
  border: 1px solid #cecece;
}
.steps-columns h4 {
  background: #ececec;
  color: #012169;
  padding: 10px 20px;
}
.steps-columns form {
  padding: 15px;
}
.full-width {
  width: 100%;
  border: 1px solid #cecece;
  padding: 7px;
}
.forms-row {
  margin-bottom: 10px;
}
.btn-rows button {
  padding: 10px 40px;
  border: none;
  color: #fff;
  background-color: #58b84c;
  font-weight: 500;
}
.shipping-address {
  border: 1px solid #cecece;
}
.shiiping-details {
  padding: 20px;
  background-color: #ececec;
  color: #20408a;
}
.shipping-rows {
  padding: 10px 20px;
}
.shipping-column-row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.shipping-column-repater {
  width: 48%;
  padding: 10px 0;
}
.billing-infos {
  padding: 20px;
}
.billing-infos h6 {
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 1.5;
}
.billing-infos h6 a {
  color: #20408a;
}
.shipping-three-rows {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.three-column {
  width: 32%;
}

.checkout-btns {
  padding: 0 20px 20px 20px;
  text-align: right;
}
.productDetail {
  padding: 20px 0;
}
.productDetails {
  padding: 20px 0;
}

.productDetail .react-tabs__tab-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
}
.productDetails .react-tabs__tab-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.productDetail .react-tabs__tab-list li {
  padding: 10px 20px;
  border: 1px solid #cecece;
  font-size: 17px;
}
.productDetails .react-tabs__tab-list li {
  padding: 10px 20px;
  /* border: 1px solid #cecece; */
  font-size: 17px;
}
.productDetails .react-tabs__tab-list {
  border-bottom: 1px solid #58b84c;
}

.productDetail .react-tabs__tab-list li.react-tabs__tab--selected {
  background-color: #20408a;
  color: #fff;
  border: 1px solid #20408a;
}
.productDetails .react-tabs__tab-list li.react-tabs__tab--selected {
  /* background-color: #20408a; */
  /* color: #fff; */
  border-bottom: 2px solid #58b84c;
}
.general-content {
  padding: 20px 20px;
}

.general-repater {
  border-bottom: 1px solid #cecece;
  padding-top: 10px;
}

.general-repater h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
}
.general-content .general-repater:last-child {
  border-bottom: none;
}
.variation-img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #cecece;
  margin-right: 5px;
}

.variation-column {
  display: flex;
  align-items: flex-start;
}

.other-variation-title {
  background-color: #f9f9f9;
  padding: 10px 10px;
}
.checkout-options {
  display: flex;
  padding: 20px 20px 0 20px;
}

.radio-btn {
  margin-right: 20px;
}

.radio-btn label {
  margin-left: 10px;
  font-weight: 500;
}
.other-variation-title h3 {
  color: #0000;
  font-weight: 700;
  font-size: 25px;
}

.other-variration {
  border: 1px solid #cecece;
}

.variation-repeater {
  display: flex;
  animation: c;
  justify-content: space-between;
  padding: 10px;
}

.variation-column1 button {
  background-color: #20408a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

.other-variation-body {
  height: 130px;
  overflow: auto;
}
.general-content h2 {
  margin-bottom: 20px;
  font-weight: 700;
}
.reveiws-repeater p {
  margin: 0;
}
.reveiws-repeater h6 {
  margin: 10px 0;
  font-weight: 600;
}
.reveiws-repeater h4 {
  font-weight: 700;
  margin: 0px 0 10px 0;
}
.reviews-row {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
}

.reveiew-repeater {
  width: 48%;
  margin-bottom: 20px;
}

.review-forms {
  width: 80%;
}

.write-reviews {
  margin: 20px 0;
}

.review-titles {
  margin-bottom: 20px;
}

.review-titles h4 {
  color: #000;
  font-weight: 700;
}

.general-fields {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cecece;
}

.general-msgs {
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 200px;
}
.second-manu li a {
  padding: 10px 20px;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  color: #58b84c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: white;
}

.btn-send {
  text-align: right;
}

.btn-sends {
  background-color: #58b84c;
  /* display: inline-block; */
  /* margin-left: auto; */
  padding: 6px 20px;
  color: #fff;
  font-size: 15px;
}
.reveiws-repeater {
  border-bottom: 1px solid #cecece;
  padding: 20px 0;
}
.reviews-stars .reveiws-repeater:last-child {
  border-bottom: none;
}
.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}
.cart_actions.cross {
  position: absolute;
  top: 0;
  width: 20px;
  right: 0;
  cursor: pointer;
}

.cart-contents h6 {
  margin: 10px 0;
}
.cart-contents-mobile h6 {
  margin: 10px 0;
}
.site-main {
  padding: 20px 0;
}

.site-inner-content h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-info-col {
  width: 49%;
}
.contact-form-col {
  width: 49%;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-field {
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  font-size: 14px;
}

.input-container {
  margin-bottom: 20px;
}

.messages {
  width: 100%;
  resize: none;
  border: 1px solid #cecece;
  height: 120px;
  padding: 10px;
}

.btn-submit {
  background-color: #01b74a;
  border: none;
  padding: 6px 36px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.contact-info-col h5 {
  font-size: 20px;
}
.contact-info-col a {
  color: #01b74a;
  font-size: 16px;
}
.contact-info-col span {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}
.site-inner-content h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-info-col {
  width: 49%;
}
.contact-form-col {
  width: 49%;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-field {
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  font-size: 14px;
}

.input-container {
  margin-bottom: 20px;
}

.messages {
  width: 100%;
  resize: none;
  border: 1px solid #cecece;
  height: 120px;
  padding: 10px;
}

.btn-submit {
  background-color: #01b74a;
  border: none;
  padding: 6px 36px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.contact-info-col h5 {
  font-size: 20px;
}
.contact-info-col a {
  color: #01b74a;
  font-size: 16px;
}
.contact-info-col span {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}
.site-inner-content h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.site-inner-content ol li,
.site-inner-content ul li {
  list-style: inherit;
  padding: 10px 5px;
  list-style-position: inside;
}
.site-inner-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.site-inner-content h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-info-col {
  width: 49%;
}
.contact-form-col {
  width: 49%;
}
.contact-info-col {
  width: 49%;
}
.contact-form-col {
  width: 49%;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-field {
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  font-size: 14px;
}

.input-container {
  margin-bottom: 20px;
}

.messages {
  width: 100%;
  resize: none;
  border: 1px solid #cecece;
  height: 120px;
  padding: 10px;
}

.btn-submit {
  background-color: #01b74a;
  border: none;
  padding: 6px 36px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.contact-info-col h5 {
  font-size: 20px;
}
.contact-info-col a {
  color: #01b74a;
  font-size: 16px;
}
.contact-info-col span {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}
.site-inner-content h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.site-inner-content ol li,
.site-inner-content ul li {
  list-style: inherit;
  padding: 10px 5px;
  list-style-position: inside;
}
.login-column form#basic .ant-form-item {
  margin-bottom: 0 !important;
}
.login-column form#basic .ant-form:last-child {
  margin-top: 20px;
}
.login-column
  form#basic
  .ant-form-item
  .ant-col.ant-col-16.ant-col-offset-8.ant-form-item-control {
  margin-top: 20px;
}
.login-column form#basic .ant-form .ant-form-item:last-child {
  margin-top: 20px !important;
}
.login-column form#basic .ant-form .ant-btn-primary {
  margin-top: 30px !important;
  display: block;
  width: 100%;
}
.login-column form#basic .ant-form .ant-form-item-control-input {
  min-height: auto;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-field {
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  font-size: 14px;
}

.input-container {
  margin-bottom: 20px;
}

.messages {
  width: 100%;
  resize: none;
  border: 1px solid #cecece;
  height: 120px;
  padding: 10px;
}

.btn-submit {
  background-color: #01b74a;
  border: none;
  padding: 6px 36px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.contact-info-col h5,
.contact-form-col h5 {
  font-size: 20px;
}
.contact-info-col a {
  color: #01b74a;
  font-size: 16px;
}
.contact-info-col span {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}
/* .modal-content {
    width: max-content !important;
} */
.ant-btn-primary {
  background-color: #01b74a !important;
}
.ant-input-search-button {
  padding-bottom: 5px !important;
}
.btn.btn-off.whistlist-btns {
  position: absolute;
  top: 10px;
  right: 12px;
}
.manu-btns {
  display: none;
}
.humburger-div {
  display: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}
/*---------  media Query 1200px  ------------*/
@media only screen and (max-width: 1200px) {
  .main-manu li a {
    padding: 9px 13px 9px 13px;
    font-size: 13px;
  }
}
/*---------  media Query 991px  ------------*/
@media only screen and (max-width:991px) {
  .main-manu li a {
    padding: 9px 8px 9px 8px;
    font-size: 13px;
}
}

@media (min-width: 767px) {
 
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #81ca2b;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #58b84c;
  }
}
@media (max-width: 767px) {

  /* whatsapp logo */
  ._1zufg{
    height: 50px !important;
    width: 50px !important;
  }
  ._34Oew ._1jTF6._3sodH {
    bottom: 50px !important;
  }
  .cart-body-new {
    height: calc(90vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .manu-btns {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-start; */
    padding: 10px 0;
    margin-left: auto;
    /* text-align: right; */
  }
  .z-index1 {
    z-index: 1;
  }
  .background {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0px;
  }

  .p-5px {
    padding: 5px;
  }
  .anti-scroll .ant-drawer-wrapper-body {
    height: auto !important;
  }
  .mt0-5em {
    margin-top: 0.5em;
  }
  .mobile-align {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 23px;
  }
  .mobile-align-nr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
  }
  .email-list-mobile {
    display: flex;
    /* margin-top: 1rem !important; */
    margin: 0;
    padding-left: 19px;
    /* height:100%; */
    align-items: center;
    /* justify-content: flex-end; */
  }
  .mt-1rem {
    margin-top: 1rem;
  }
  .humburger-div {
    padding: 20px 0px;
    display: flex;
  }
  .humburger {
    font-size: 1.5em;
    color: #58b84c !important;
  }
  .mobile-d-none {
    display: none;
  }

  .sr-onlys {
    width: 40px;
    height: 2px;
    background-color: green;
    margin-bottom: 9px;
  }

  .manu-btns .sr-onlys:last-child {
    margin-bottom: 0;
  }
  .login-column form {
    padding: 20px;
  }
  /* .modal-content {
        width: max-content !important;
    }     */
  .product-filter {
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .product-filter li {
    min-width: max-content;
    padding: 0 20px;
  }
  .manu-items {
    justify-content: center;
  }
  .main-manu {
    display: none;
  }
  .topheader .col-md-4 {
    margin: 10px 0;
  }
  .main-title h3 {
    font-size: 25px;
  }
  .filter-title {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .review-forms {
    width: 100%;
  }
  .shipping-column-row {
    justify-content: space-between;
  }
  .space,
  .Messages {
    margin-left: 0 !important;
  }
  .checkout-btns,
  .Messages {
    padding: 0 !important;
  }
  .checkout-btns button {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .shipping-column-repater {
    width: 100%;
  }
  .shipping-column-row {
    flex-wrap: wrap;
  }
  .space {
    margin: 0 auto;
  }
  .cart-open .cart-dropdown {
    width: 100%;
  }
  .login-form-row {
    flex-wrap: wrap;
  }
  .login-column1,
  .login-column {
    width: 100%;
  }
  .forgot-password a {
    font-size: 12px;
  }
  .login-column1 {
    height: auto;
  }
  .price{
    padding-bottom: 0 !important;
  }
  .all-brands{
    z-index: 2;
    background: #fff;
    padding-top: 15px;
  }
  .spacing{
    display: none;
  }
}
.m-30-100 {
  margin: 30px 100px;
}
.pl-5 {
  padding-left: 5px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.green-btn {
  border: 1px solid #58b84c;
  border-radius: 0px;
  padding: 3px 25px;
  color: #ffffff;
  background-color: #58b84c;
}

.bg-gray {
  background-color: #d8d8d8;
}
.h-24 {
  height: 24px;
}
.br-0 {
  border-radius: 0px !important;
}
.fs-19 {
  font-size: 19px;
}
.f-weight-600 {
  font-weight: 600;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-17 {
  margin-bottom: 17px;
}
.fs-15 {
  font-size: 15px;
}
.pr-5 {
  padding-right: 5px !important;
}
.h-100p {
  height: 100%;
}

.f-left {
  float: left;
}
.ls-style-type {
  list-style-type: none;
}
.carousel .control-dots .dot {
  background: black !important;
}
.carousel .axis-vertical {
  margin: 0px !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #171313 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #171313 !important;
}
.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  color: black;
}
.react-multi-carousel-list .react-multiple-carousel__arrow {
  background: transparent;
  z-index: 0;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover {
  background: transparent;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: -13px;
  font-weight: bolder;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: -16px;
  font-weight: bolder;
}
.product-images .inner-product-column .desktop-images {
  padding: 15px 0px 30px 0px;
}
.product-images .inner-product-column .hover-images {
  padding: 15px 0px 30px 0px;
  transition: all 0.5s ease 0s;
}
.btn-off .anticon-shopping-cart {
  display: inline-flex;
}
.fs-sm {
  font-size: small;
}

.btn-style {
  padding: 0px 5px 0px 5px !important;
  border: 1px solid !important;
  border-radius: 10px !important;
}
.border-style{
  border: 1px dotted #58b84c;
}
.pb-6 {
  padding-bottom: 6px;
}
.pt-3 {
  padding-top: 3px !important;
}
.w-100p {
  width: 100%;
}
.h-100p {
  height: 100%;
}
/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden;
  /* background: #cecece; */
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear 40s infinite;
}
.hmove:hover {
  animation-play-state: paused;
}
.hmove {
  animation-duration: 60s;
}
.mt-30 {
  margin-top: 30px;
}

.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  color: black;
}
.react-multi-carousel-list .react-multiple-carousel__arrow {
  background: transparent;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover {
  background: transparent;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: -13px;
  font-weight: bolder;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: -16px;
  font-weight: bolder;
}
.product-images .inner-product-column .desktop-images {
  padding: 15px 0px 30px 0px;
}
.product-images .inner-product-column .hover-images {
  padding: 15px 0px 30px 0px;
  transition: all 0.5s ease 0s;
}
.btn-off .anticon-shopping-cart {
  display: inline-flex;
}
.fs-sm {
  font-size: small;
  font-size: 12px;
}
.btn-style {
  padding: 0px 5px 0px 5px !important;
  border: 1px solid !important;
  border-radius: 10px !important;
}
.btn-style-qa{
  border: 1px solid #58b84c;
  background: #58b84c;
}
.pb-6 {
  padding-bottom: 6px;
}
.pt-3 {
  padding-top: 3px !important;
}
.w-100p {
  width: 100%;
}
.h-100p {
  height: 100%;
}
.ml-20 {
  margin-left: 20px;
}
.mt-8 {
  margin-top: 8px;
}
.dots-adjustment-h{
  height: 11em;
}
.dots-adjustment-h .react-multi-carousel-track{
  height: 10em;
}

.dots-adjustment-h .react-multi-carousel-dot-list{
top:9em;
}
.pd-detail li{
  list-style-type: disc;
}
.sidecart a{
  max-width: 90%;
}
.des-height{
  height: 40px;
  margin-bottom: 5px;
}
.cart-img-height{
  height: 170px;
}
.spacing{
  position: absolute;
  z-index: 2;
  right: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
}
